# Python
__pycache__/
*.pyc
*.pyo

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Virtual Environment
.venv/
venv/
env/

# Environment variables (XAVFSIZLIK!)
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db